<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<string>Image1</string>
		<string>Image2</string>
		<string>Image3</string>
		<string>Image4</string>
		<string>Image5</string>
		<string>Image6</string>
	</array>
</dict>
</plist>
