<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Places</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Big Ben</string>
			<key>Address</key>
			<string>London SW1A 0AA</string>
			<key>Image</key>
			<string>BigBen</string>
			<key>Description</key>
			<string>Big Ben is the nickname for the Great Bell of the clock at the north end of the Palace of Westminster in London and is usually extended to refer to both the clock and the clock tower.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Buckingham Palace</string>
			<key>Address</key>
			<string>London SW1A 1AA</string>
			<key>Image</key>
			<string>BuckinghamPalace</string>
			<key>Description</key>
			<string>Buckingham Palace is the London residence and administrative headquarters of the monarch of the United Kingdom. Located in the City of Westminster, the palace is often at the centre of state occasions and royal hospitality. It has been a focal point for the British people at times of national rejoicing and mourning.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>London Eye</string>
			<key>Address</key>
			<string>London SE1 7PB</string>
			<key>Image</key>
			<string>LondonEye</string>
			<key>Description</key>
			<string>The London Eye is a cantilevered observation wheel on the South Bank of the River Thames in London. It is Europe&apos;s tallest cantilevered observation wheel, is the most popular paid tourist attraction in the United Kingdom with over 3.75 million visitors annually, and has made many appearances in popular culture.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>St Paul&apos;s Cathedral</string>
			<key>Address</key>
			<string>London EC4M 8AD</string>
			<key>Image</key>
			<string>St-Pauls</string>
			<key>Description</key>
			<string>St Paul&apos;s Cathedral, London, is an Anglican cathedral, the seat of the Bishop of London and the mother church of the Diocese of London. It sits on Ludgate Hill at the highest point of the City of London and is a Grade I listed building.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tower Bridge</string>
			<key>Address</key>
			<string>London SE1 2UP</string>
			<key>Image</key>
			<string>TowerBridge</string>
			<key>Description</key>
			<string>Tower Bridge is a combined bascule and suspension bridge in London, built between 1886 and 1894. The bridge crosses the River Thames close to the Tower of London and has become an iconic symbol of London. Because of this, Tower Bridge is sometimes confused with London Bridge, situated some 0.5 mi upstream.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Westminster Abbey</string>
			<key>Address</key>
			<string>London SW1P 3PA</string>
			<key>Image</key>
			<string>WestminsterAbbey</string>
			<key>Description</key>
			<string>Westminster Abbey, formally titled the Collegiate Church of Saint Peter at Westminster, is a large, mainly Gothic abbey church in the City of Westminster, London, England, just to the west of the Palace of Westminster.</string>
			<key>Latitude</key>
			<string>61.5240100</string>
			<key>Longitude</key>
			<string>105.3187560</string>
		</dict>
	</array>
</dict>
</plist>
